#
node_modules/
dist/

*.class
*.py[cod]
*.log
*.jar

target/
dist/

.idea/
.astro/

TEST*.xml

.DS_Store

Thumbs.db

*.app
*.exe
*.war

*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

.env
.env.production
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
